/* .link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.work-list-img,
.team-list-img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* header */

/* .header .container {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
} */
/* 
.navigation,
.navigation-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
} */

/* .contacts-list {
  margin-left: auto;
  fill: #757575;
}

.contact-item_email {
  display: flex;
  align-items: center;
  width: 161px;
  height: 16px;
  margin-right: 30px;
}

.contact-item_tel {
  display: flex;
  align-items: center;
  width: 142px;
  height: 16px;
}

.tel-link,
.email-link {
  margin-left: auto;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
} */

/* .logo-link {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: black;
}

.logo-link-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
} */

/* .navigation-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item {
  position: relative;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
} */

/* .email-link_img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link_img:hover .email_icon,
.email-link_img:focus .email_icon {
  fill: var(--accent-color);
} */

/* .navigation-link::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  display: none;
  top: 43px;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover::after {
  display: block;
} */

/* .email-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link:hover,
.email-link:focus {
  color: var(--accent-color);
} */

/* hero */

/* .hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 696px;
  height: 120px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
} */

/* .modal-btn {
  min-width: 200px;
  padding: 10px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
} */
/* 
.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: #212121;
} */

/* what we are doing */

/* .work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-item {
  flex-basis: calc(100% / 3- 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work-item {
  position: relative;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
} */

/* advantages */

/* .advantages {
  padding-top: 94px;
  padding-bottom: 47px;
}

.advantages-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.advantage-item {
  flex-basis: calc(100% / 3- 30px);
  margin-left: 30px;
  margin-top: 30px;
} */

/* .advantage-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
} */

/* .advantage-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #757575;
} */

/* .advantage-item_img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.advantage-item_icon {
  fill: #212121, var(--accent-color);
} */

/* ---our team--- */

/* .our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  flex-basis: calc(100% / 3- 30px);
  margin-left: 30px;
  margin-top: 30px;
} */

/* .team-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
} */

/* .team-description {
  margin-bottom: 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
} */
/* 
.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 206px;
  height: 44px;
} */

/* .social-list_item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list_item-link:hover,
.social-list_item-link:focus {
  background-color: var(--accent-color);
}
.social-list_item-link:hover .social-list_icon,
.social-list_item-link:focus .social-list_icon {
  fill: #ffffff;
} */

/* cliets */
/* .clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
} */

/* .clients-list_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc (100% / 6- 30px);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
} */

/* .clients-list_item:hover,
.clients-list_item:focus {
  border-color: var(--accent-color);
}

.clients-list_icon {
  fill: #afb1b8;
}

.clients-list_link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list_item {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list_item:hover .clients-list_icon,
.clients-list_item:focus .clients-list_icon {
  fill: var(--accent-color);
} */

/* footer */
/* .footer {
  background-color: #2f303a;
}

.container-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.adress-links-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 231px;
  height: 81px;
} */

/* .logo-link-footer {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: white;
} */

/* .contacts-list-footer :not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail-link-footer,
.tel-link-footer {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-links-wrapper {
  margin-top: 72px;
  margin-bottom: 100px;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer_title {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
} */

/* .social-list_footer {
  display: flex;
  align-items: center;
}
.social-list_footer :not(:last-child) {
  margin-right: 10px;
} */

/* .item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-link:hover,
.item-link:focus {
  background-color: var(--accent-color);
}
.item-link:hover .social_icon,
.item-link:focus .social_icon {
  fill: #ffffff;
} */

/* .mail-wrapper {
  width: 570px;
  min-height: 86px;
  margin-left: 93px;
  margin-top: 72px;
}

.footer-form {
  position: relative;
  width: 100%;
  min-height: 50px;
}

.mail-wrapper-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer-form-input {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 16px;
  width: 358px;
  min-height: 50px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: #ffffff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
}

.futer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: flex;
  align-items: center;
  padding-left: 29px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87px;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: absolute;
  width: 200px;
  min-height: 50px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: none;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

.signap-form-icon {
  margin-left: 10px;
} */

/* modal */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
} */

/* .close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: #000000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1, 15px;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  width: 448px;
}

.modal-form-label {
  margin-bottom: 10px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  height: 120px;
  width: 100%;
  padding-left: 16px;
  padding-top: 17px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-commen::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-chek::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #212121;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-chek {
  display: flex;
  align-items: center;
}

.modal-form-term:checked + .modal-form-chek::before {
  background-image: url("../images/iconcheck.svg");
  background-position: center;
  border: 0.2px solid #ffffff;
}

.modal-form-term:focus + .modal-form-chek::before {
  outline: 1px solid #ffffff;
} */

/* .modal-form-button {
  margin-top: 30px;
  align-self: center;
  padding: 10px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #188ce8;
} */

/* .contract-link {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contract-link:hover,
.contract-link:focus {
  color: #188ce8;
} */
