/* .link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.portfolio-list-img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* header */

/* .header .container {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
} */

/* .navigation,
.navigation-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
} */

/* .contacts-list {
  margin-left: auto;
  fill: #757575;
}

.contact-item_email {
  display: flex;
  align-items: center;
  width: 161px;
  height: 16px;
  margin-right: 30px;
}

.contact-item_tel {
  display: flex;
  align-items: center;
  width: 142px;
  height: 16px;
}

.tel-link,
.email-link {
  margin-left: auto;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
} */

/* .logo-link {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: black;
}

.logo-link-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
} */

/* .navigation-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-item {
  position: relative;
} */

/* .navactiv-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navactiv-link:hover,
.navactiv-link:focus {
  color: var(--accent-color);
}

.navactiv-link::after {
  position: absolute;
  content: "";
  width: 84px;
  height: 4px;
  border-radius: 2px;
  display: none;
  top: 43px;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navactiv-link:hover::after {
  display: block;
} */

/* filters portfplio */
/* .filters-portfolio {
  padding-top: 94px;
  padding-bottom: 34px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn,
.modal-activbtn {
  min-width: 86px;
  padding: 6px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 6px;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.modal-activbtn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-activbtn:hover,
.modal-activbtn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* portfolio cards */
/* .portfolio-cards {
  padding-bottom: 94px;
}

.card {
  display: inline-block;
}

.portfolio-link {
  display: block;
}

.portfolio-item:hover .portfolio-link,
.portfolio-item:focus .portfolio-link {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3- 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-content {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
} */
/* 
.img-title {
  padding-bottom: 10px;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
  color: #212121;
} */

/* .img-description {
  padding-top: 10px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
} */

/* footer */

/* .footer {
  background-color: #2f303a;
}

.container-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.adress-links_footer {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 231px;
  height: 81px;
}

.logo-link-footer {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: white;
}

.contacts-list-footer :not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail-link-footer,
.tel-link-footer {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-links_footer {
  margin-top: 72px;
  margin-bottom: 100px;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.social-footer_title {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list_footer {
  display: flex;
  align-items: center;
}
.social-list_footer :not(:last-child) {
  margin-right: 10px;
}

.item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover,
.item-link:focus {
  background-color: var(--accent-color);
}
.item-link:hover .social_icon,
.item-link:focus .social_icon {
  fill: #ffffff;
} */
