.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 6- 30px);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  fill: #afb1b8;

  .clients-list__item:hover &,
  .clients-list__item:focus & {
    fill: var(--accent-color);
  }
}

.clients-list__link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
