.footer {
  background-color: #2f303a;

  .container-footer {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.adress-links-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 231px;
  height: 81px;
}
.address-list :not(:last-child) {
  margin-bottom: 9px;
}

.address {
  margin-top: 20px;
}

.address-list__link {
  color: #ffffff;
}
.address-list__link-email,
.address-list__link-tel {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-links-wrapper__title {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
