.portfolio-cards {
  padding-bottom: 94px;
}

.portfolio-list__link {
  display: block;

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0%);
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  .portfolio__item {
    flex-basis: calc(100% / 3- 30px);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .portfolio-list__link,
    &:focus .portfolio-list__link {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.portfolio-card-content {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 55;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
