.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: black;

  & .logo__accent {
    color: var(--accent-color);
  }

  &_theme-dark {
    margin: 0 auto;
    color: white;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1, 19;

    &_theme-dark {
      margin-right: auto;
    }
  }
}
