.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: black;

  & .logo__accent {
    color: var(--accent-color);
  }

  & .logo_theme-dark {
    margin-right: auto;
    color: white;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: black;
  }

  .logo__accent {
    color: var(--accent-color);
  }
}
