.modal-btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: #000000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1, 15px;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  width: 448px;
}

.modal-form__label {
  margin-bottom: 10px;

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__comment {
  height: 120px;
  width: 100%;
  padding-left: 16px;
  padding-top: 17px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__chek {
  display: flex;
  align-items: center;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    outline: 1px solid #212121;
    cursor: pointer;
    margin-right: 8px;
  }
}

.modal-form__term:checked + .modal-form__chek::before {
  background-image: url("../images/iconcheck.svg");
  background-position: center;
  border: 0.2px solid #ffffff;
}

.modal-form__term:focus + .modal-form__chek::before {
  outline: 1px solid #ffffff;
}

.modal-form__link {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #188ce8;
  }
}
