.team-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.advantages-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.img-title {
  padding-bottom: 10px;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
  color: #212121;
}
